@-ms-viewport {
    width: device-width;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
html,
body {
    max-width: 100vw;
    // max-width: $container-max-width;
    margin: auto;
    @include text($fz-text, $font-main, $lh-text, normal);
    color: $text-cl;
    background: $main-bg-cl;
    scroll-behavior: smooth;
    position: relative;
    @include customscroll();
    overflow-x: hidden;
    .container {
        width: $container-width;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .container-fluid {
        width: 100%;
        max-width: $container-max-width;
        padding-right: 30px;
        padding-left: 30px;
        margin-right: auto;
        margin-left: auto;
        @include xs {
            padding-right: 15px;
            padding-left: 15px;
        }
    }

    @media (min-width: $xxs-min) {
        .container {
            max-width: 100%;
        }
    }
    @media (min-width: $xs-min) {
        .container {
            max-width: 720px;
        }
    }
    @media (min-width: $sm-min) {
        .container {
            max-width: 960px;
        }
    }
    @media (min-width: $md-min) {
        .container {
            max-width: $container-width;
        }
    }
    --pdSection: 90px;
    main {
        width: 100vw;
        margin: auto;
        overflow: hidden;
        section {
            &.pd {
                padding: var(--pdSection) 0;
            }
        }
    }
    a {
        text-decoration: none;
    }
    @include lg {
        // CSS responsive large desktop
    }
    @include md {
        // CSS responsive desktop
    }
    @include sm {
        // CSS responsive tablet
    }
    @include xs {
        // CSS responsive mobile
        --pdSection: 60px;
    }
    @include xxs {
        // CSS responsive small mobile
    }
}
